<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16007800851-07ldagc6n5r4abtapsm7s4mtmmvj7pvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16007800851-07ldagc6n5r4abtapsm7s4mtmmvj7pvh</string>
	<key>API_KEY</key>
	<string>AIzaSyAe4xMvxfjn1esARj2yUzgxK-Z4JbRyhdg</string>
	<key>GCM_SENDER_ID</key>
	<string>16007800851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.frcScouting</string>
	<key>PROJECT_ID</key>
	<string>frc-6dfae</string>
	<key>STORAGE_BUCKET</key>
	<string>frc-6dfae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16007800851:ios:94a95eb5c792eb66de77e6</string>
	<key>DATABASE_URL</key>
	<string>https://frc-6dfae-default-rtdb.firebaseio.com</string>
</dict>
</plist>